@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Proyecto3_Medico.Models;
<p>hi desde alergias</p>
<div id="vacunacontainer" class="container  ">

    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card h-100">
                <div class="card-body">
                    <form>
                        <h7>Ingresar Alergia al Paciente</h7>
                        <div>
                            <h7>Paciente: </h7>
                            <select name="paciente" id="paciente" class="form-control">

                                @foreach (patientModel temp in ViewBag.pacientes)
                                {
                                    <option asp-for="paciente" value="@temp.patient_id">@temp.patient_name  @temp.patient_lastname</option>
                                }

                            </select>
                        </div>
                        <div>
                            <h7>Alergia: </h7>
                            <select name="allergy" id="allergy" class="form-control">
                                @foreach (AllergyModel temp in ViewBag.alergias)
                                {
                                    <option asp-for="vacuna" value="@temp.allergy_id">@temp.allergy_name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <h7>Fecha Aplicacion: </h7>
                            <input type="date" class="form-control" id="diagnosticdate" name="diagnosticdate">
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control" id="meds" name="meds" placeholder="Medicamentos">
                        </div>

                        <div class="form-group">

                            <input type="text" class="form-control" id="description" name="description" placeholder="Descripcion">
                        </div>

                        <div>
                            <input type="button" href="javascript:;" onclick="registrarpacientealergia($('#paciente').val(),$('#allergy').val(),$('#diagnosticdate').val(),$('#meds').val(),$('#description').val()); return false;" id="registrar" name="registrar" value="Registrar" class="btn btn-primary" />

                        </div>
                        @*<div>
                                <input type="submit" value="INGRESAR" />
                            </div>*@
                    </form>
                </div>
            </div>
        </div>



</div>