@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Proyecto3_Medico.Models;


<div id="appointment" class="container  ">

    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card h-100">
                <div class="card-body">
                    <form>
                        <h7>Buscar detalles de paciente</h7>
                        <div>
                            <h7>Paciente: </h7>
                            <select name="paciente" id="paciente" class="form-control">
                                @if (ViewBag.pacientes != null)
                                {
                                    @foreach (patientModel temp in ViewBag.pacientes)
                                    {
                                        <option asp-for="paciente" value="@temp.patient_id">@temp.patient_name  @temp.patient_lastname</option>
                                    }
                                }

                            </select>

                            <input type="button" href="javascript:;" onclick="buscarDetalle($('#paciente').val()); return false;" id="Buscar" name="Buscar" value="Buscar" class="btn btn-primary" />

                        </div>


                        <div class="table-responsive">
                            <table class="table table-striped" id="detalle">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Lugar</th>
                                        <th>Detalle</th>
                                        <th>Especialidad</th>

                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @if (ViewBag.citas != null)
                                    {
                                        @foreach (drAppointmentModel temp in ViewBag.citas)
                                        {
                                    <tr>
                                        <td>@temp.appointment_day</td>
                                        <td>@temp.appointment_hour</td>
                                        <td>@temp.center_name</td>
                                        <td>@temp.details</td>
                                        <td>@temp.specialty_name</td>

                                    </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>
        @*ingresar vacuna*@

        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card h-100">
                <div class="card-body h-100">
                    <form>
                        <h7>Editar detalle de la Cita del Paciente</h7>
                        <div>

                            <label>Paciente</label>
                            <input type="text" class="form-control" id="paciente1" name="paciente1" disabled>
                        </div>
                        <div class="form-group">
                            <label>Ingresar Fecha de la Cita</label>
                            <input type="datetime" class="form-control" id="fecha" name="fecha" disabled>
                        </div>
                        <div class="form-group">
                            <label>Detalles de la Cita</label>
                            <input type="text" class="form-control" id="appDescription" name="appDescription" disabled>
                        </div>
                        <div class="form-group">
                            <label>Especialidad</label>
                            <input type="text" class="form-control" id="especialidad" name="especialidad"disabled>
                        </div>

                        <div>
                            <input type="button" href="javascript:;" onclick="allowInput(); return false;"value="EDITAR" />
                            <input type="button" href="javascript:;" onclick="updateAppointment($('#paciente1').val(),$('#fecha').val(),$('#appDescription').val(),$('#especialidad').val()); return false;" value="INGRESAR" />
                            <input type="button" href="javascript:;" onclick="deleteAppointment($('#paciente1').val(),$('#fecha').val(),$('#especialidad').val()); return false;" value="ELIMINAR" />
                        </div>
                       
                    </form>
                </div>
            </div>
        </div>

    </div><!--fin de la fila-->

    


</div>
<script type="text/javascript">

  

    $(document).ready(function () {

        $("#detalle tbody").on('click', 'tr', function () {
            // get the current row
            var currentRow = $(this).closest("tr");

            var col1 = $(this).find("td:eq(0)").html(); 
            var col2 = $(this).find("td:eq(1)").html(); 
            var col3 = $(this).find("td:eq(2)").html(); 
            var col4 = $(this).find("td:eq(4)").html();

            document.getElementById("paciente1").value = $("#paciente").val();
            document.getElementById("fecha").value = col1;
            document.getElementById("especialidad").value = col4;
           
            
        });
      
    });
</script>